<!--
<div>
    <img class=lpalm src="../assets/images/LeftPalm.png" alt="leftPalm" height=130px>
    <img class=rpalm src="../assets/images/RightPalm.png" alt="rightPalm" height=130px >
</div> -->

<br>
<div class="x"><span>स्वरसंधी  :  </span>{{sandhiTypes.swarsandhi |uppercase}}</div>
{{swarsandhi |uppercase}}
<p>
    १) सवर्णांचा दीर्घ संधी २) गुणसंधी. ३) वृद्धिसंधी. ४) यण् संधी ५) अयवायाव संधी ६) पूर्वरूप संधी. ७) पररूपसंधी ८) प्रकृतिभाव 
    <br><br>
    १) सवर्णांचा दीर्घ संधी - ज्या स्वरांचे उच्चारस्थान एकच असते, ते परस्परांचे सवर्ण स्वर होतात. उदा. अ, आ या दोन्ही स्वरांचे कंठ हे एकच उच्चारस्थान आहे. त्यामुळे ते एकमेकांचे सर्वर्ण आहेत. त्याप्रमाणेच इ-ई, उ-ऊ, ऋ-ॠ हे एकमेकांचे सर्वर्णस्वर झाले.

    <br><br>
पहिल्या पदाच्या अंती ह्रस्व किंवा दीर्घ अ, इ, उ, ऋ हे स्वर व त्याच्या पुढे ह्रस्व किंवा दीर्घ सवर्ण आला तर त्या दोन्ही स्वरांच्या बद्दल त्याच जातीचा दीर्घ स्वर येतो. 

<div><span>विसर्गसंधी  :  </span>{{sandhiTypes.visargasandhi}}</div>
<div><span>व्यंजनसंधी :  </span>
    <input [(ngModel)]="sandhiTypes.vyanjansandhi" placeholder="vyanjan" />
   </div>

   <div>{{sandhiTypes.vyanjansandhi}}</div>
