<!--
<div>
        <img class=lpalm src="../assets/images/LeftPalm.png" alt="leftPalm" height=130px>
        <img class=rpalm src="../assets/images/RightPalm.png" alt="rightPalm" height=130px >
    </div> -->


<div class="u"> मुख्य विभाग</div>
<div class="u"> भाषांतर </div>
<div class="u"> सभासद </div>
<div class="u"> समानार्थी शब्द </div>
<div class="u"> विरूद्धार्थी शब्द  </div>
<div class="u"> प्रश्नोत्तरी </div>
<div class="u"> मराठी अभंग</div>




<br>


<div class="x"><span>स्वरसंधी  :  </span>{{sandhiTypes.swarsandhi |uppercase}}</div>
{{swarsandhi |uppercase}}
<p>
    १) सवर्णांचा दीर्घ संधी २) गुणसंधी. ३) वृद्धिसंधी. ४) यण् संधी ५) अयवायाव संधी ६) पूर्वरूप संधी. ७) पररूपसंधी ८) प्रकृतिभाव 
    <br><br>
    १) सवर्णांचा दीर्घ संधी - ज्या स्वरांचे उच्चारस्थान एकच असते, ते परस्परांचे सवर्ण स्वर होतात. उदा. अ, आ या दोन्ही स्वरांचे कंठ हे एकच उच्चारस्थान आहे. त्यामुळे ते एकमेकांचे सर्वर्ण आहेत. त्याप्रमाणेच इ-ई, उ-ऊ, ऋ-ॠ हे एकमेकांचे सर्वर्णस्वर झाले.

    <br><br>
पहिल्या पदाच्या अंती ह्रस्व किंवा दीर्घ अ, इ, उ, ऋ हे स्वर व त्याच्या पुढे ह्रस्व किंवा दीर्घ सवर्ण आला तर त्या दोन्ही स्वरांच्या बद्दल त्याच जातीचा दीर्घ स्वर येतो. 

<br><br>    <br><br>
अ + अ = आ
अ + आ = आ
आ + अ = आ
आ + आ = आ
उदा.
तव + आसनम्
= त + व् + (अ + आ) + सनम्
= त + व् (आ) + सनम्
= तवासनम्

<br><br>
इ किंवा ई + इ किंवा ई = ई
उदा. पठामि + इदानीम्
= पठाम् + (इ + इ) दानीम्
= पठाम् + (ई) + दानीम्
= पठामीदानीम्
<br><br>
उ किंवा ऊ + उ किंवा ऊ = ऊ
साधु + उक्ति:
= साध् + (उ + उ) क्ति:
= साध् + (ऊ) क्ति:
साधूक्ति:
<br><br>
ऋ किंवा ॠ + ऋ किंवा ॠ = ॠ
पितृ + ऋण
= पित् + (ऋ + ऋ) ण
= पित् (ॠ) ण
= पितॄण
<br><br>
प्रश्न १) खालील संधी करा 
<br><br>


१) तत्र + अस्ति २) माला + अधिपस्य ३) आगता + आर्या ४) प्रसीदति + ईश: ५) दासी + इच्छति ६) नारी + ईक्षते ७) साधु + उक्तम् ८) च + अपि ९) रामस्य + अपि १०) न + अपनयति ११) विना + अस्माकम् १२) नृपस्य + आदेश: १३) अथ + अमात्य: १४) न + अवगच्छतु १५) इति + ईश: १६) इच्छन्ति + इति १७) भवति + इति १८) गच्छति + ईश्वर: १९) खलु + उत्साह: २०) ननु + उपयोग: २१० साधु + उत्तरितम् २२) यस्य + अस्ति २३) न + अश्नाति २४) तथा + अपि २५) न + अस्ति

====================================
<br><br>
स्वरसंधी  उत्तरे
<br><br>
प्रश्न १) खालील संधी करा     <br><br>
१) तत्र + अस्ति = तत्रास्ति
२) माला + अधिपस्य = मालाधिपस्य
३) आगता + आर्या = आगतार्या
४) प्रसीदति + ईश: = प्रसीदतीश:
५) दासी + इच्छति = दासीच्छति
६) नारी + ईक्षते = नारीक्षते
७) साधु + उक्तम् = साधूक्तम्
८) च + अपि = चापि
९) रामस्य + अपि = रामस्यापि
१०) न + अपनयति = नापनयति
११) विना + अस्माकम् = विनास्माकम्
१२) नृपस्य + आदेश: = नृपस्यादेश:
१३) अथ + अमात्य: = अथामात्य:
१४) न + अवगच्छतु = नावगच्छतु
१५) इति + ईश: =  इतीश:
१६) इच्छन्ति + इति = इच्छन्तीति
१७) भवति + इति = भवतीति
१८) गच्छति + ईश्वर: = गच्छतीश्वर:
१९) खलु + उत्साह: = खलूत्साह:
२०) ननु + उपयोग: = ननूपयोग:
२१) साधु + उत्तरितम् = साधूत्तरितम्
२२) यस्य + अस्ति = यस्यास्ति
२३) न + अश्नाति = नाश्नाति
२४) तथा + अपि = तथापि
२५) न + अस्ति = नास्ति 

</p>
<div><span>विसर्गसंधी  :  </span>{{sandhiTypes.visargasandhi}}</div>
<div><span>व्यंजनसंधी :  </span>
    <input [(ngModel)]="sandhiTypes.vyanjansandhi" placeholder="vyanjan" />
   </div>

   <div>{{sandhiTypes.vyanjansandhi}}</div>
