body{
    background-color: black;
    color: white;
}

h1.heading{
    background-image: url('../assets/images/krishna.png');
    font-size: 100px;
    margin:2px;
    border-color: pink;
    border-style: outset;
    color: black ;
    background-repeat: no-repeat;
    background-position: right;
    background-color: rgb(117, 219, 92);
    background-size: 400px;
}

footer.note{
    background-color:  rgb(117, 219, 92);
    color: black;
    font-size: 30px;
    text-align: center;
}